sudo: false # run on docker infrastructure

rvm:
  # - 1.9.2
  - 1.9.3
  - 2.1.10
  - 2.2.6
  - 2.3.3
  # - 2.4.0
  # - jruby-19mode
  # - jruby-18mode
  # - rbx
  # - ruby-head

env:
  - "RAILS_VERSION=3.1"
  - "RAILS_VERSION=3.2"
  - "RAILS_VERSION=4.0"
  - "RAILS_VERSION=4.1"
  - "RAILS_VERSION=4.2"

matrix:
  exclude:
    - rvm: 2.2.6
      env: "RAILS_VERSION=3.1"
    - rvm: 2.3.3
      env: "RAILS_VERSION=3.1"
    - rvm: 2.4.0
      env: "RAILS_VERSION=3.1"
    - rvm: 2.2.6
      env: "RAILS_VERSION=3.2"
    - rvm: 2.3.3
      env: "RAILS_VERSION=3.2"
    - rvm: 2.4.0
      env: "RAILS_VERSION=3.2"
    - rvm: 1.9.3
      env: "RAILS_VERSION=4.0"
    - rvm: 1.9.3
      env: "RAILS_VERSION=4.1"
    - rvm: 1.9.3
      env: "RAILS_VERSION=4.2"

